<div id="header">
  <img class = "header" src = "/content/AU/images/standard/Header.png" Header
</div>
<div id="line">
  <hr />
</div>
<div id="video">
        <img class="header" src="/content/AU/images/About.png" />
  "https://www.youtube.com/embed/K6Bdr7sD-yE?ecver=2"
</div>
<div class="icons">
  <table>
    <tr>
      <td class="icon2">
        <a href="/content/AU/libraryM">
          <img class="icon" src="/content/AU/images/standard/MeetJesus.png" />
        </a>
      </td>
      <td class="icon2">
        <a href="/content/AU/libraryF">
          <img class="icon" src="/content/AU/images/standard/WithFriends.png" />
        </a>
      </td>
    </tr>
  </table>
</div>
<div id="languages" class="languages">
  <a href="/content/languages.html">
    <img
      class="languages"
      src="/content/AU/images/standard/OtherLanguagesTop.png"
    />
    OTHER LANGUAGES
    <img
      class="languages"
      src="/content/AU/images/standard/OtherLanguagesBottom.png"
    />
  </a>
</div>
<div class="footer">
  <p>MyFriends</p>
  <p>powertochange.org.au</p>
</div>
