<div class = "menu">
    <a href="/content/AU">
        <img class="icon1" src="/content/AU/images/standard/MenuBack.png" />
    </a>

</div>

<div id="header">
    <img class = "header" src = "/content/AU/images/standard/HeaderWithFriends.png">
</div>
<div id = "explanation">
   <h1> A Heading</h1>
   <p>Some text</p>
</div>
  
<div class="icons">
    <div class="icon1">
        <a href="/content/AU/eng/issues">
            <img class="icon1" src="/content/AU/images/standard/LifePrinciples.png" />
        </a>
    </div>
    <div class="icon1">
        <a href="/content/AU/eng/basics">
            <img class="icon1" src="/content/AU/images/standard/Basics.png" />
        </a>
    </div>
    <div class="icon1">
        <a href="/content/AU/eng/multiply">
            <img class="icon1" src="/content/AU/images/standard/Multiply.png" />
        </a>
    </div>
    <div class="icon1">
        <a href="/content/AU/eng/compass">
            <img class="icon1" src="/content/AU/images/standard/Compass.png" />
        </a>
    </div>
</div>
<div class="footer">
    <p>MyFriends</p>
    <p>powertochange.org.au</p>
</div>
