<div class="menu">
  <a href="/content/AU">
    <img class="icon1" src="/content/AU/images/standard/MenuBack.png" />
  </a>
</div>

<div id="header">
  <img class="header" src="/content/AU/images/standard/HeaderMeetJesus.png" />
</div>
<div id="explanation">
  <h1>A Heading</h1>
  <p>Some text</p>
</div>

<div class="icons">
  <div class="icon1">
    <a href="/content/AU/eng/four">
      <img class="icon1" src="/content/AU/images/standard/TheFour.png" />
    </a>
  </div>
  <div class="icon1">
    <a href="/content/AU/eng/satisfied">
      <img class="icon1" src="/content/AU/images/standard/Satisfied.png" />
    </a>
  </div>
</div>
<div class="footer">
  <p>MyFriends</p>
  <p>powertochange.org.au</p>
</div>
