.gospel_text {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 30px;
}
.gospel-prayer {
  background-image: url('/images/quote_open.gif');
  background-position: 10px top;
  background-repeat: no-repeat;
  color: #085276;
  font-style: italic;
  font-weight: bold;
  padding-left: 35px;
}
div.background-text {
  padding-left: 10px;
  padding-right: 10px;
}
h1.myfriends {
  color: #de1e25;
  display: inline;
  font-weight: bold;
  padding-left: 25px;
  text-align: center;
}