:root {
  --color-black:purple;
  --color-red: green;
  --color-blue: orange;
  --color-background: rgb(228, 194, 131);
  --color-version: rgb(110, 107, 241);
}
.myfriends-bible {
  background-color: var(--color-background);
  padding-left: 10px;
  line-height: 25px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 20px;
}
.bible_text {
  font-style: italic;
  font-weight: bold;
  padding-left: 40px;
}
.gospel_text {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 30px;
}
.gospel-prayer {
  background-image: url('/images/quote_open.gif');
  background-position: 10px top;
  background-repeat: no-repeat;
  color: #085276;
  font-style: italic;
  font-weight: bold;
  padding-left: 35px;
}

a {
  background: transparent;
  color: var(--color-red);
}
a:active,
a:hover {
  outline: 0;
}

a.myfriends-bible-readmore
 {
  background-color:var(--color-red);
  border-color: var(--color-red);
  border: 1;
  color: #fff;
  height: auto;
  margin-bottom: 0;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
}
h1{
  color: var(--color-red);

}
sup,
  .versenum {
    color: var(--color-blue);
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup,
  .versenum {
    top: -0.5em;
  }

div.myfriends-lesson-section {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}
div.myfriends-lesson-section-words {
  bottom: 0;
  color:var(--color-black);
  font-size: 30px;
  line-height: 30px;
  margin-left: 45px;
  position: absolute;
}
div.myfriends-lesson-section-words-rtl {
  bottom: 0;
  color: var(--color-black);
  font-size: 30px;
  line-height: 30px;
  margin-right: 65px;
  position: absolute;
}
h1.myfriends {
  color:var(--color-red);
  display: inline;
  font-weight: bold;
  padding-left: 25px;
  text-align: center;
}
img.myfriends-lesson {
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
  width: 30px;
}
img.myfriend-lesson-rtl {
  height: 30px;
  margin-left: 20px;
  vertical-align: middle;
  width: 30px;
}
li.myfriends-ltr{
  color:var(--color-red);
}
p.myfriends-reference,
p.reference {
  padding-top: 20px;
  color: var(--color-red);
  font-size: 20px;
  padding-bottom: 20px;
}