<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/sharing-life.png" />
    <div class="lesson-subtitle">PARTILHAR</div>
  </div>
  <div class="ol">
    <ol class="ltr">
      <li>De que estás grato?</li>
      <li>Como sentiste Deus esta semana?</li>
      <li>Em que te pode ajudar Deus?</li>
      <li>Como podemos ajudar-te com as tuas necessidades?</li>
      <li>Rezem um pelo outro</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/review.png" />
    <div class="lesson-subtitle">AVALIAÇÃO</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="6">
      <li>O que puseste em prática desde a nossa última reunião?</li>
      <li>
        Conseguiste partilhar um sentimento de Deus com alguém? Rezaram
        juntos?
      </li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/bible-study.png" />
    <div class="lesson-subtitle">LER</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="8">
      <li>Lê o excerto em voz alta duas vezes.</li>
      <li>
        Pede a uma pessoa para reler o excerto nas suas próprias palavras com a ajuda do
        grupo.
      </li>
      <li>Faltou alguma coisa ou foi algo adicionado?</li>
    </ol>
  </div>
  <div id="bible">
    <div class="bible">
      <p class="myfriends-reference">[BibleReference]</p>
      <p class="replace">[BibleText]</p>
      </p>
      <br /><a
        class="readmore"
        href=""
        > Ler mais <span class="replace">[REPLACE LINK]</span></a
      ><br /><br />
    </div>
  </div>

  <div class="lesson">
    <img class="lesson-icon" src="/images/discover.png" />
    <div class="lesson-subtitle">DESCOBRE</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="11">
      <li>O que salta à vista neste excerto?</li>
      <li>O que gostas e o que te incomoda neste excerto?</li>
      <li>O que te diz este excerto sobre Deus e as pessoas?</li>
      <li>O que é que este excerto diz sobre o tópico que escolheste?</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/challenges.png" />
    <div class="lesson-subtitle">APLICAR</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="15">
      <li>
        Quais são algumas das formas de uma pessoa aplicar este excerto? Existe:
        <ul>
          <li>Um comportamento a alterar?</li>
          <li>Uma promessa a reclamar?</li>
          <li>Um exemplo a seguir?</li>
          <li>Uma ordem a seguir?</li>
        </ul>
      </li>
      <li>Pergunta a Deus o que Ele quer que faças em relação ao excerto.</li>
      <li>Partilha isto com o grupo</li>
    </ol>
  </div>
  <div id="background_note"></div>
</html>
