<p><strong>Articles</strong>:<br /></p>
<ul>
  <li>
    <a
      href="http://powertochange.com/experience/world/usemoney/"
      target="_blank"
      >Five Ways to Use Money</a
    >
    - PTC article
  </li>
  <li>
    <a
      href="http://powertochange.com/students/living/moneybasics/"
      target="_blank"
      >Making Sense of Money Basics</a
    >
    - PTC article
  </li>
  <li>
    <a href="https://thelife.com/money-management" target="_blank"
      >Money Management is the Christian Thing to Do Family</a
    >
    - TheLife article
  </li>
  <li>
    <a href="https://thelife.com/the-joy-of-less-money" target="_blank"
      >The Joy of Less Money</a
    >
    - TheLife article
  </li>
</ul>
<p><strong>Library</strong><br /></p>
<ul>
  <li>
    Example Conversations –
    <a
      href="https://tmm.io/resources/mentor-library/money-matters/"
      target="_blank"
      >Money Matters</a
    >
  </li>
</ul>
<p><strong>Sites:</strong><br /></p>
<ul>
  <li>
    <a href="http://www.crown.org/" target="_blank">Personal Finance Study</a> -
    Crown Financial - site
  </li>
</ul>
<p>&nbsp;<strong>Videos:</strong></p>
<p><br /></p>
<p><br /></p>
