<p><strong>Articles</strong>:<br /></p>
<ul>
  <li>
    <a href="https://thelife.com/caring-for-the-unemployed" target="_blank"
      >Caring for the Unemployed</a
    >
    - theLife article
  </li>
  <li>
    <a
      href="https://thelife.com/coping-with-your-husbands-job-loss"
      target="_blank"
      >Coping with Your Husband’s Job Loss</a
    >
    - theLife article
  </li>
</ul>
<p><br /></p>
<p><strong>Library</strong><br /></p>
<ul>
  <li>
    Example Conversations –
    <a
      href="https://www.thementorcenter.com/resources/mentor-library/job-loss/"
      target="_blank"
      >Job Loss</a
    >
  </li>
</ul>
<p><strong>Sites:</strong></p>
<ul>
  <li>
    <a
      href="http://www.allaboutlifechallenges.org/coping-with-job-loss.htm"
      target="_blank"
      >Coping With Job Loss</a
    >
    - Loss in Value - All about life's challenges - site
  </li>
  
  <li>
    <a
      href="http://www.allaboutlifechallenges.org/impact-of-job-loss-faq.htm"
      target="_blank"
      >Impact of job loss</a
    >&nbsp;- All about life's challenges - site
  </li>
</ul>
<p><strong>Videos:</strong><br /></p>
<ul>
 
  <li>
    <a href="https://vimeo.com/132738705" target="_blank"
      >Weeding Your Garden</a
    >
    (Should I fire someone?) - Rod Bergen - video ( 1:15 min)
  </li>
  
  
</ul>
<p><br /></p>
<p><br /></p>
