<h2><strong>Marriage</strong></h2>
<p style="padding-left: 30px;"><strong>Articles</strong>:</p>
<ul>
  <ul>
    
    <li>
      <a
        href="http://powertochange.com/discover/sex-love/happy/"
        target="_blank"
        >He Won't Make You Happy</a
      >&nbsp;-&nbsp;PTC article
    </li>
    <li>
      <a
        href="http://powertochange.com/experience/sex-love/tools/"
        target="_blank"
        >Tools for Building an Intimate Marriage</a
      >
      -&nbsp;PTC article
    </li>
  </ul>
</ul>
<p style="padding-left: 30px;"><strong>Sites:</strong></p>
<ul>
  <ul>
    <li>
      &nbsp;<a
        href="http://powertochange.com/s/84/tags/healthy-marriage/"
        target="_blank"
        >Marriage</a
      >
      - Family Life (Canada) - site
    </li>
  </ul>
</ul>
<p style="padding-left: 30px;"><strong>Videos:</strong></p>
<ul>
  <ul>
    <li>
      <a
        href="http://powertochange.com/itv/family/communication-in-marriage/"
        target="_blank"
        >Communication in Marriage</a
      >&nbsp;-&nbsp;PTC video (5 pt video series)
      <ol>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage1/"
            target="_blank"
            >Re-Kindling the Connection</a
          >&nbsp;-&nbsp;( 0:46 min)
        </li>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage2/"
            target="_blank"
            >Listening with Desire</a
          >
          -&nbsp;&nbsp;( 0:49 min)
        </li>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage3/"
            target="_blank"
            >Creating a Safe Zone</a
          >
          -&nbsp;( 1:44 min)
        </li>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage4/"
            target="_blank"
            >The 5 Love Languages</a
          >&nbsp;-&nbsp;( 1:07 min)
        </li>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage5/"
            target="_blank"
            >Knowing Your Spouses Love Language</a
          >
          -&nbsp;( 0:26 min)
        </li>
        <li>
          <a
            href="http://powertochange.com/itv/family/communication-in-marriage6/"
            target="_blank"
            >Effective Communication</a
          >
          -&nbsp;( 1:13 min)
        </li>
      </ol>
    </li>
    <li>
      <a href="https://vimeo.com/album/3911227/video/163315756" target="_blank"
        >Control and Manipulation in Marriage</a
      >
      - PTC Family Life - video (1:11 min)&nbsp;<span
        style="color: rgb(255, 0, 0); line-height: 18.5714px;"
        >(new)</span
      >
    </li>
   
   
    <li>
      <a href="http://powertochange.com/itv/who-should-i-marry/" target="_blank"
        >Who Should I Marry?</a
      >
      -&nbsp;PTC video ( 2:27 min)
    </li>
  </ul>
</ul>
<h2>&nbsp;<strong>Sex</strong></h2>
<p style="padding-left: 30px;"><strong>Articles</strong>:</p>
<ul>
  <ul>
    <li>
      <a
        href="http://powertochange.com/experience/sex-love/stepstoadultery/"
        target="_blank"
        >Four Slippery Steps to Adultery</a
      >&nbsp;-&nbsp;PTC article
    </li>
    <li>
      <a
        href="http://powertochange.com/experience/sex-love/godsex/"
        target="_blank"
        >God's Rules for Sex</a
      >
      -&nbsp;PTC article
    </li>
    <li>
      <a href="http://powertochange.com/sex-love/healthysex/" target="_blank"
        >Healthy Sex, Healthy Life</a
      >&nbsp;- Family Life article
    </li>
    <li>
      <a
        href="http://www.familylifecanada.com/featured/how-much-sex/"
        target="_blank"
        >How Much Sex Do You Get?</a
      >&nbsp;-&nbsp;<span style="line-height: 18.5714px;"
        >Family Life article</span
      >
    </li>
    <li>
      <a
        href="http://www.familylifecanada.com/marriage/the-five-levels-of-intimacy/"
        target="_blank"
        >The Five Levels of Intimacy&nbsp;</a
      >&nbsp;- Family Life article
    </li>
    <li>
      <a
        href="http://familylifecanada.com/our-team/unmet-expectations/"
        target="_blank"
        >Unmet Expectations: Sex 3 Times a Week!</a
      >
      -&nbsp;<span style="line-height: 18.5714px;">Family Life article</span>
    </li>
    <li>
      <a
        href="http://christiananswers.net/dictionary/adultery.html"
        target="_blank"
        >What is Adultery Exactly?</a
      >&nbsp;- ChristianAnswers.net
    </li>
  </ul>
</ul>
<p style="padding-left: 30px;"><strong>Sites:</strong></p>
<ul>
  <ul>
    <li>
      &nbsp;<a
        href="http://powertochange.com/s/84/tags/romance-sex/"
        target="_blank"
        >Sex & Romance</a
      >&nbsp;- Family Life (Canada) - site
    </li>
  </ul>
</ul>
<p style="padding-left: 30px;"><strong>Videos:</strong></p>
<ul>
  <ul>
    <li>
      <span id="__mceDel"
        ><a
          href="http://powertochange.com/discover/sex-gone-cold/"
          target="_blank"
          >Help Our Sex Life Has Gone Cold</a
        ><span style="font-style: italic;">&nbsp;-&nbsp;</span
        ><em id="__mceDel" style="font-style: italic;"
          >PTC video ( 1:56 min)</em
        ></span
      >
    </li>
    <li>
      <span id="__mceDel"
        ><a
          href="http://powertochange.com/discover/lets-talk-about-sex/"
          target="_blank"
          >Let’s Talk About Sex</a
        ><span style="font-style: italic;"
          >&nbsp;- PTC video ( 3:00 min)</span
        ></span
      >
    </li>
  </ul>
</ul>
<p style="padding-left: 30px;"><strong>Books:</strong></p>
<ul>
  <ul>
    <li>
      <span style="line-height: 13px;"
        ><a href="http://www.passionatecommitment.com/" target="_blank"
          >Resources for Healthy Sexuality</a
        >
        - Dr. Clifford & Joyce Penner</span
      >
    </li>
  </ul>
</ul>
<p>
  <span style="line-height: 13px;"><br /></span>
</p>
