<p><strong>Articles</strong>:<br /></p>
<ul>
  <li>
    Lessons for Christian Living - Knowing Jesus Personally - life lessons
  </li>
</ul>
<ol>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/lesson1/"
      target="_blank"
      >Understanding Your Relationship</a
    >
    with Jesus Christ
  </li>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/lesson2/"
      target="_blank"
      >Experiencing God’s Love</a
    >
    and Forgiveness
  </li>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/lesson3/"
      target="_blank"
      >Power for Living</a
    >
    a Dynamic Christian Life
  </li>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/lesson4/"
      target="_blank"
      >Growing in Your Relationship</a
    >
    with Jesus Christ
  </li>
</ol>
<ul>
  <li>
    Power to Change -
    <a href="http://powertochange.com/discover/ll_list/" target="_blank"
      >Life Lessons</a
    >
    - Long list of lesson series to choose from.
  </li>
  <li>
    <a
      href="http://powertochange.com/studies/developing-a-deeper-faith/"
      target="_blank"
      >Developing a Deeper Faith</a
    >
    - life lesson
  </li>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/presence/"
      target="_blank"
      >Entering Into His Presence </a
    >- theLife.com article
  </li>
  <li>
    <a href="https://thelife.com/challenges/the-hurting-church" target="_blank"
      >Hurt by the Church</a
    >
    - theLife.com article
  </li>
  <li>
    <a href="https://thelife.com/challenges/rejoice-and-be-glad" target="_blank"
      >Rejoice and Be Glad</a
    >
    - theLife.com article
  </li>
  <li>
    <a
      href="http://thelife.com/challenges/they-said-yes-now-what"
      target="_blank"
      >They Said Yes, Now What?</a
    >
    - theLife article
  </li>
  <li>
    <a
      href="https://thelife.com/challenges/why-is-church-so-important"
      target="_blank"
      >Why Church?</a
    >
    - theLife.com article
  </li>
  <li>
    <a
      href="https://thelife.com/challenges/why-bother-with-church"
      target="_blank"
      >Why Bother with Church?</a
    >
    - theLife.com article
  </li>
  <li>
    <a href="https://tmm.io/resources/growth" target="_blank">G.R.O.W.T.H</a> -
    Suggestions for Christian Growth - article
  </li>
</ul>
<p><strong>Sites:</strong><br /></p>
<ul>
  <li>
    <a
      href="http://www.cru.org/training-and-growth/classics/10-basic-steps/index.htm"
      target="_blank"
      >10 Basic Steps</a
    >
    toward Christian Maturity - Cru site - article
  </li>
  <li>
    The <a href="http://www.alpha.org/" target="_blank">Alpha</a> program (great
    first steps program)
  </li>
</ul>
<p style="margin-left: 25px;">
  <strong style="line-height: 1.428571429;">Finding & Choosing a Church</strong>
</p>
<ol>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/choosechurch/"
      target="_blank"
      >Choosing a Church</a
    >
    - The most important step
  </li>
  <li>
    Finding a
    <a href="http://churchdirectory.ca/" target="_blank">Church in Canada</a>
  </li>
  <li>
    Finding a
    <a href="http://www.churchfinder.com/" target="_blank">Church in U.S</a>
  </li>
  <li>
    Finding a Church in International -
    <a href="http://www.findachurch.com/a_hme/hme_hme.asp" target="_blank"
      >Find a Church.com</a
    >
  </li>
  <li>
    <a
      href="http://www.churchfinder.com/church-finder-international"
      target="_blank"
      >Finding a Church - International</a
    >
    - ChurchFinder.com
  </li>
</ol>
<ul>
  <li>
    <a
      href="https://www.cru.org/us/en/train-and-grow/transferable-concepts.html"
      target="_blank"
      >Transferable Concepts</a
    >
    - Great way to Understand your new Faith - site
  </li>
</ul>
<p><strong>Videos:</strong><br /></p>
<ul>
  <li>
    <a
      href="http://powertochange.com/experience/spiritual-growth/best-church-ever/"
      target="_blank"
      >Best Church Ever?</a
    >
    - PTC video&nbsp;(1:40 min)
  </li>
  <li>
    <a href="https://thelife.com/challenges/plastic-jesus" target="_blank"
      >Plastic Jesus</a
    >&nbsp;-&nbsp;PTC video (1:42 min)
  </li>
</ul>
<p>
  <strong>E-book:<span id="redactor-inline-breakpoint"></span></strong><br />
</p>
<ul>
  <li>
    <a href="https://www.thehopeline.com/ebook/relationship-with-god"
      >Understanding a Relationship with God</a
    >
    - Understanding Basic Christianity - ThHopeLine.com
  </li>
</ul>
<p><br /></p>
